{% load static %}
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row">
        <p class="h2">Cadastro de produtos</p>
        <div class="produto-foto col-4 pt-5">
            {% if form.imagem.value %}
                <img src="{% get_media_prefix %}{{form.imagem.value}}" class="img-fluid mb-2"/>
            {% else %}
                <img src="{% static 'images/not-image.png' %}" class="img-fluid mb-2">
            {% endif %}
                {{ form.imagem }}
        </div>
        <div class="form col-5 mb-auto mt-auto">            
            <div>
                <div class="form-floating mb-3">
                    {{ form.nome }}
                    <label for="{{ form.nome.name }}">{{ form.nome.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.nome.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.valor }}
                    <label for="{{ form.valor.name }}">{{ form.valor.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.valor.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.tipo }}
                    <label for="{{ form.tipo.name }}">{{ form.tipo.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.tipo.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.marca }}
                    <label for="{{ form.marca.name }}">{{ form.marca.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.marca.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.link }}
                    <label for="{{ form.link.name }}">{{ form.link.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.link.errors }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        {{ form.descricao }}
        <div class="mb-3"></div>
        <div class="row col-1 me-0">
            <input class="btn btn-success btn-confirmar" type="submit" value="Confirmar">
        </div>
        <div class="row col-1">
            <input class="btn btn-secondary btn-resetar" type="reset" value="Resetar"/>
        </div>
    </div>
</form>