{% extends "base.html" %} {% block content %} {% load static %}
<section class="col-10 offset-1 mb-5">
    <div class="text-center col-8 offset-2 mb-5">
        <p class="h3">Informações do produto</p>
    </div>
    <div class="row">
        <div class="col-4 offset-1">
            <div class="produto-foto">
                <div class="col-12">
                    <img src="{% static 'images/not-image.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-6">
            <p class="h5">{{ object.nome }}</p>
            <p class="text-muted small mb-2">{{ object.tipo }} {% if object.marca %} - {{ object.marca }} {% endif %}</p>
            <p class="text-justify">{{ object.descricao }}</p>

            <p class="h3 produto-valor">R${{ object.valor }}</p>
            <a href="{{ object.link }}" type="button" class="btn btn-warning">
                <img src="{% static 'images/mercado-livre.png' %}" width="94px">
            </a>
            <a href="/produtos" type="button" class="btn btn-secondary">
               Voltar
            </a>
            <p class="text-muted small pt-2">Observação: Toda compra é realizada através do Mercado Livre.</p>
        </div>
    </div>
    </div>
</section>
{% endblock %}