{% extends "base.html" %} {% block content %}
<p class="h2">Produtos</p>
<div class="col-12">
    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Digite para buscar o produto...">
            <span class="input-group-btn">
                    <div class="container-fluid">
                        <a href="#" class="btn btn-outline-success" type="submit">Buscar</a>
                    </div>
                </span>
            <span class="input-group-btn">
                    <a href="adicionar" type="button" class="btn btn-primary">Adicionar</a>
            </span>
        </div>
    </form>
</div>
{% if object_list %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="row"> Código </th>
            <th scope="col"> Produto </th>
            <th scope="col"> Valor </th>
            <th scope="col"> Opções </th>
        </tr>
    </thead>
    <tbody>
        {% for produto in object_list %}
        <tr>
            <th scope="row">{{ produto.codigo }}</th>
            <td>
                <a href="{{ produto.codigo }}">{{ produto.nome }}</a>
            </td>
            <td>R${{ produto.valor }}</td>
            <td class="col-2 text-center">
                <a href="alterar/{{ produto.codigo }}" type="button" class="btn btn-warning">Alterar</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalConfirmaExclusao{{ produto.codigo }}">Excluir</button>
            </td>
        </tr>
        <div class="modal fade" id="modalConfirmaExclusao{{ produto.codigo }}" tabindex="-1" role="dialog" aria-labelledby="modalConfirmaExclusao" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h5 class="modal-title ">Confirmação</h5>
                    </div>
                    <div class="modal-body">Deseja realmente deletar o produto {{ produto.nome }}?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a href="remover/{{ produto.codigo }}">
                            <button type="button" class="btn btn-danger">Deletar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>
{% else %}
<b class="text-info ">Não há produtos disponíveis.</b> {% endif %} {% endblock %}