{% if user.is_authenticated %}
<nav class="p-3">
    <div class="container">
        <div class="d-flex">
            <a class="navbar-brand" href="/">Gamaware</a>
            <ul class="nav col-auto me-auto">               
                {% if 'produtos.view_produto' in perms %}
                <a href="/produtos" class="nav-link">
                    <li>Produtos</li>
                    <div></div>
                </a>
                {% endif %}
                {% if 'produtos.view_fornecedor' in perms %}
                <a href="/fornecedores" class="nav-link">
                    <li>Fornecedores</li>
                    <div></div>
                </a>
                {% endif %}
                {% if 'vendas.view_clientes' in perms %}
                <a href="/clientes" class="nav-link">
                    <li>Clientes</li>
                    <div></div>
                </a>
                {% endif %}
                {% if 'manutencoes.view_terceiro' in perms %}
                <a href="/terceiros" class="nav-link">
                    <li>Terceiros</li>
                    <div></div>
                </a>
                {% endif %}
                {% if 'vendas.view_funcionario' in perms %}
                <a href="/funcionarios" class="nav-link">
                    <li>Funcionários</li>
                    <div></div>
                </a>
                {% endif %}
                {% if 'vendas.view_pedido' in perms %}
                <a href="/pedidos" class="nav-link">
                    <li>Pedidos</li>
                    <div></div>
                </a>
                {% endif %}
                {% if 'manutencoes.view_manutencao' in perms %}
                <a href="/manutencoes" class="nav-link">
                    <li>Manutenções</li>
                    <div></div>
                </a>
                {% endif %}
            </ul>
            <a href="/auth/logout" class="logout"> Sair <i class="bi bi-person-badge"></i>
                <div></div>
            </a>
        </div>
    </div>
</nav>
{% endif %}