<nav class="p-3">
    <div class="container">
        <div class="d-flex">
            <a class="navbar-brand" href="/">Gamaware</a>
            <ul class="nav col-auto me-auto">
                <a href="/produtos" class="nav-link">
                    <li>Produtos</li>
                    <div></div>
                </a>
                <a href="/fornecedores" class="nav-link">
                    <li>Fornecedores</li>
                    <div></div>
                </a>
                <a href="/clientes" class="nav-link">
                    <li>Clientes</li>
                    <div></div>
                </a>
            </ul>
            <!-- <a class="nav-link"> Login <i class="bi bi-person-badge"></i>
                <div></div>
            </a> -->
        </div>
    </div>
    </div>
</nav>