<nav class="p-3 text-black">
  <div class="container">
    <div class="d-flex">
      <a class="navbar-brand" href="/">Gamaware</a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
        <a href="/produtos" class="nav-link px-2 text-black">
          <li>Produtos</li>
          <div></div>
        </a>
        <!-- 
          <a href="#" class="nav-link px-2 text-black">
          <li>Nome</li>
          <div></div>
        </a> 
        -->
      </ul>
      <div class="text-end">
        <a class="nav-link px-2 text-black"> Login <i class="bi bi-person-badge"></i><div></div></a>
        <!-- <button type="button" class="btn btn-warning">Cadastrar-se</button> -->
      </div>
    </div>
  </div>
</nav>