{% load static %}
{% if 'vendas.add_pedido' in perms %}
<form method="post" class="col-10" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row container">
        <p class="row h2 mb-4">Cadastro de pedido</p>
        <div class="produto-foto col-5 p-3">
            {% if form.comprovante.value %}
            <img id="comprovante" src="" class="img-fluid mb-2 d-none" />
            <img id="comprovante_" src="{% get_media_prefix %}{{form.comprovante.value}}" class="img-fluid mb-2" /> {% else %}
            <img id="comprovante" src="" class="img-fluid mb-2 d-none">
            <img id="comprovante_" src="{% static 'images/not-image.png' %}" class="img-fluid mb-2"> {% endif %}
            <div class="d-flex">
                {{ form.comprovante }}
                <button class="btn btn-light" type="button" onclick="resetar_comprovante()"><i class="bi bi-trash"></i></button>
            </div>
        </div>
        <div class="form col-7 ps-2 pe-0">
            <div>
                <div class="form-floating mb-3">
                    {{ form.rastreio }}
                    <label for="{{ form.rastreio.name }}">{{ form.rastreio.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.rastreio.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.taxa_entrega }}
                    <label for="{{ form.taxa_entrega.name }}">{{ form.taxa_entrega.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.taxa_entrega.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.status }}
                    <label for="{{ form.status.name }}">{{ form.status.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.status.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.cliente }}
                    <label for="{{ form.cliente.name }}">{{ form.cliente.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.cliente.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.produtos }}
                    <label for="{{ form.produtos.name }}">{{ form.produtos.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.produtos.errors }}
                </div>
            </div>
        </div>
    </div>
<div class="container">
    {% if form.status.value == 'C' or form.status.value == 'F' %}
        <a href="/pedidos" type="button" class="btn btn-secondary btn-voltar">Voltar</a>
    {% else %}
        <input class="btn btn-success btn-confirmar" type="submit" value="Confirmar">
        <input class="btn btn-secondary" type="reset" onclick="resetar_comprovante()" value="Resetar" />
    </div>    
</form>
{% else %}
<p class="text-secondary pt-2">Você não tem permissão para adicionar pedidos.</p> {% endif %}